body {
  height: 100vh;
  background: linear-gradient(rgb(0, 150, 136) 13%, rgb(217, 219, 213) 13%);
}
.background {
  height: 100vh;
}
.container-fluid {
  margin: 0 auto;
  height: 95vh;
  width: 80%;
}

/****************************************** aside******************************************/
aside {
  background-color: red;
  width: 40%;
}
/****************************************** user ******************************************/
.notification,
.user {
  height: 80px;
  width: 100%;
}
.user {
  background-color: rgb(234, 234, 234);
}
.options,
.user-info {
  height: 100%;
  width: 45%;
}

.img-user {
  width: 30%;
  overflow: hidden;
  border-radius: 100%;
}
.username {
  width: 70%;
  height: 80%;
}
.main-contact-option,
.option {
  width: 20%;
  height: 80%;
  font-size: 27px;
  color: rgb(177, 177, 177);
}
/**************************************** notification *************************************/

.notification {
  background-color: rgb(142, 218, 252);
}
.notification-box {
  width: 100%;
  height: 80%;
}
.notification-content,
.notification-img {
  height: 100%;
}
.notification-img {
  width: 15%;
  color: rgb(142, 218, 252);
  background-color: white;
  font-size: 35px;
  border-radius: 50%;
}
.notification-content {
  width: 90%;
}
.notification-content a {
  color: rgb(94, 137, 153);
}
.notification-content p {
  padding: 0;
  font-size: 16px;
  margin: 0;
}
/**************************************** contacts *************************************/
.contacts {
  height: 100%;
}
.contacts {
  background-color: white;
}
.bggrey {
  background-color: rgb(233, 235, 235);
}
/**************************************** search-bar-box *************************************/
.search-bar-box {
  height: 50px;
  width: 100%;
  background-color: rgb(250, 250, 250);
}

.form-control {
  border: none;
  height: 30px;
}
form {
  height: 30px;
  width: 85%;
  background-color: white;
}
/**************************************** contact list *************************************/
li {
  height: 70px;
  padding: 0;
  list-style: none;
}
.contact-box {
  height: 80%;
  width: 90%;
}

.contact-name {
  height: 100%;
}
.contact-img {
  height: 100%;
  overflow: hidden;
  border-radius: 100%;
}
.contact-name {
  width: 80%;
}
.main-contact-option {
  width: 15%;
}
/**************************************** main *************************************/
main {
  width: 60%;
  border-left: 1px rgb(88, 88, 247) solid;
}
/**************************************** main-contact *************************************/
.main-contact {
  background-color: rgb(234, 234, 234);
  height: 80px;
  width: 100%;
}
.main-contact-box {
  height: 100%;
  width: 45%;
}
.main-contact-info {
  width: 70%;
  height: 80%;
}
.last-seen,
.main-contact-username {
  height: 50%;
  width: 100%;
}
.main-img-user {
  width: 30%;
  height: 80%;
}
/**************************************** chat *************************************/
.chat {
  height: calc(100% - 160px);
  width: 100%;
  background-image: url("../img/mine.jpg");
  overflow: auto;
}
.massage-container {
  height: 45px;
  border-radius: 10px;
  border: 1px solid black;
  margin-bottom: 20px;
  display: flex;
}
.received {
  background-color: white;
}
.sent {
  background-color: rgb(213, 249, 186);
  justify-content: flex-end;
}
.message {
  padding: 0;
}
/**************************************** message-bar *************************************/
.message-bar-place {
  height: 80px;
  width: 100%;
  background-color: rgb(243, 238, 234);
}
.message-bar-box {
  height: 90px;
  width: 100%;
}
.message-bar {
  height: 60px;
  width: 75%;
}
.emoji,
.mic {
  width: 10%;
  height: 60px;
  font-size: 27px;
  color: rgb(177, 177, 177);
}
