body {
  height: 100vh;
  background: linear-gradient(rgb(0, 150, 136) 13%, rgb(217, 219, 213) 13%);
}
.background {
  height: 100vh;
}
.container-fluid {
  margin: 0 auto;
  height: 95vh;
  width: 80%;
}

/****************************************** aside******************************************/
aside {
  background-color: red;
  width: 40%;
}
/****************************************** user ******************************************/
.main-contact,
.notification,
.user {
  height: 80px;
  width: 100%;
}
.user {
  background-color: white;
}
.options,
.user-info {
  height: 100%;
  width: 50%;
  border: 1px dashed black;
}
.img-user {
  width: 30%;
  height: 80%;
  border: 1px dashed black;
}
.username {
  width: 70%;
  height: 80%;
  border: 1px dashed black;
}
.option {
  width: 25%;
  height: 80%;
  border: 1px dashed black;
}
/**************************************** notification *************************************/
.main-contact,
.notification {
  background-color: yellow;
}
/**************************************** contact *************************************/

.contacts {
  height: 100%;
}
.contacts,
.chat {
  width: 100%;
  background-color: pink;
  overflow: auto;
}
/**************************************** main *************************************/
main {
  background-color: blue;
  width: 60%;
}
/**************************************** main-contact *************************************/
/**************************************** chat *************************************/
.chat {
  height: calc(100% - 160px);
}
/**************************************** message-bar *************************************/
.message-bar {
  height: 80px;
  width: 100%;
  background-color: green;
}
